@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #ededed;
    color: #fff;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    color: #111;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #111;
    transition: all .5s;
}

li {
    list-style: none;
}

/* NAVBAR */
nav {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px #111;
    padding: 0 80px 0 32px;
    position: fixed;
    z-index: 1;
}

nav .links {
    gap: 40px;
}

nav .links img {
    width: 60px;
    height: 60px;
}

nav .links a {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

nav .links a:hover {
    color: #00d9ed;
}

nav .social li {
    gap: 30px;
    font-size: 3em;
}

nav .social li a:hover {
    color: #00d9ed;
}

/* HEADER */
header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 40% 0, 20% 100%, 0% 100%);
    background: #111;
}

header .data {
    width: 60%;
    flex-direction: column;
    position: absolute;
    right: 0;
}

header .data h1 {
    font-size: 62px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    color: #111;
}

header .data h1 span {
    color: #00d9ed;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 900;
}

header .data h2 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    color: #00d9ed;
}

header .profImg {
    width: 30%;
    height: 50%;
    position: absolute;
    left: 15%;
}

header .profImg img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .8);
}

/* WEB PROJECTS */
.project {
    width: 100vw;
    height: 80vh;
    padding: 5vw;
    margin-bottom: -12vh;
}

.project .screenshot {
    width: 50%;
    height: 70%;
    border-radius: 24px;
    border: 15px solid #111;
    background: #111;
}

.project .screenshot img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.project .info {
    width: 50%;
    flex-direction: column;
    position: relative;
}

.project .info .title {
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 50px;
}

.project .info .description {
    font-weight: 500;
    font-size: 24px;
    width: 80%;
    text-align: center;
}

.project .info a {
    margin-top: 30px;
    width: 160px;
    height: 60px;
    background: #111;
    border-radius: 24px;
    color: #fff;
    font-size: 32px;
    box-shadow: 0 0 15px 2px #333;
}

.project .info a:hover {
    background: #00d9ed;
}

/* PROJECTS */
.projects {
    width: 100vw;
    margin-top: 50px;
}

.projects h1 {
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #111;
    transition: all .5s;
    margin-bottom: -150px;
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-bottom: 50px;
}

.projects .cards .card {
    width: 90%;
    height: 600px;
    background: rgba(255, 255, 255, .8);
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px 5px rgba(255, 255, 255, .8);
    position: relative;
    overflow: hidden;
}

.projects .cards .card .webImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.projects .cards .card .webImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects .cards .card .cardData {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .8);
}

.projects .cards .card .cardData h1 {
    margin-bottom: 5px;
    transition: all .5s;
}

.projects .cards .card .cardData h1:hover {
    color: #00d9ed;
}

.projects .cards .card .cardData a {
    color: #fff;
}

.projects .cards .card .cardData p {
    font-size: 1.5em;
}

/* MEDIAS */

@media (max-width: 1370px) {
    header .profImg {
        left: 100px;
    }
}

@media (max-width: 1290px) {
    header .data h1 {
        font-size: 20px;
    }

    header .data h2 {
        font-size: 16px;
    }
}

@media (max-width: 1120px) {
    header {
        flex-direction: column;
    }

    header::before {
        width: 100%;
        height: 150px;
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }

    header .profImg {
        left: 0px;
    }

    .projects .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

