@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

/* Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 24px;
}

body::-webkit-scrollbar-thumb {
    background: #222;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Protest Guerrilla", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all .5s;
}

li {
    list-style: none;
}

.data {
    width: 780px;
    height: 500px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 5px 5px #000;
}

.data .title {
    font-size: 100px;
    color: #fff;
    text-align: center;
}

.data .subtitle {
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
}

.fx {
    width: 100vw;
    position: absolute;
    bottom: 0;
}  

.fx img {
    width: 100%;
    height: 50vh;
}

/* Navbar */
nav {
    width: 100vw;
    height: 100px;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav li {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

nav li a:hover {
    color: darkred;
}

/* Header */
header {
    width: 100vw;
    height: 100vh;
    background: url(imgs/header.webp);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* COD1 */
.cod1 {
    background: url(imgs/cod1.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* COD2 */
.cod2 {
    background: url(imgs/cod2.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.cod2 .data {
    top: 10%;
}

/* CODWW */
.codww {
    background: url(imgs/codww.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* CODMW */
.codmw {
    background: url(imgs/codmw.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* CODMW2 */
.codmw2 {
    background: url(imgs/codmw2.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.codmw2 .data {
    left: 60%;
}

/* CODMW3 */
.codmw3 {
    background: url(imgs/codmw3.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
}