$white: #fff;
$grey100: #DEDEDE;
$grey200: #CCC;
$grey300: #999;
$grey400: #666;
$grey600: #444;
$grey700: #222;
$black: #000;
$primary-color: #ff7b00;
$primary-color-dark: darken($primary-color, 10);